.footermenu {
    position: fixed;
    left: 0;
    bottom: 0vh;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
 }

 .headsom {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    color: white;
    text-align: center;
    min-height: 70vh;
 }

 .sambung{
     min-height: 10vh;
     background-color: #0099ff;
 }

 .footas {
    position: fixed;
    float: right;
    left: 0;
    bottom: 5vh;
    width: 100%;
    text-align: center;
    min-height: 6vh;
 }

 .firsthome{
     min-height: 20vh;
 }

 .footsom {
    position: fixed;
    z-index:-1; 
    left: 0;
    bottom: -4vh;
    width: 100%;
    color: white;
    text-align: center;
 }
 
 .bottomsvg{
    margin-bottom: -2vh;
    z-index:-1; 
    position: relative;
 }