.footermenu {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    min-height: 7vh;
 }

.mainbody{
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

.headsom{
    background-color: #0099ff;
    min-height: 15vh;
}