.glossary-list{
    margin-bottom:4vh;
    padding-left: 2vh;
    padding-right: 2vh;
}
.column.is-2.content{
    margin-bottom: 0vh;
    padding : 1vh 1vh 1vh 1vh;
    text-align: center;
}
h1.is-large{
    margin-bottom: 0vh;
}
p.is-small{
    font-weight: 300;
    font-size: 0.9em !important;
}